/* Цвет основного текста  #757575
Вторичный цвет текста #212121
Белый #FFFFFF
Акцент #2196F3
Вторичный цвет фона #F5F4FA
Цвет логотипа #000000 
Футер rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000 ;
    --footer-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.decoration {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Логотип */
.logo {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}
.logo span { color: var(--accent-color);}
/* Навигация */

.navigation .item + .item {
    margin-left: 50px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    padding-left: 0;
}

.navigation .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .link + .link {
    margin-left: 50px;
}

.contacts .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--primary-text-color);
}

.accent:hover ,
.accent:focus {
    color: var(--accent-color);
}

/* Блог Герой */
/* Бэкграунд для видимости, потом удалить */
.hero .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36x;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: gray;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
/* Наши преимущества */
.advantages .title {
    font-weight: 700d;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.services .primary,
.command .primary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Наша команда */

.command .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.command .text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Footer */

.footer {
    background-color: var(--footer-background-color);
}

.direction {
    font-style: normal;
    color: var(--primary-white-color);
}

.logo.inversion {
    color: var(--primary-white-color);
}

.direction .link {
    
    color: var(--footer-text-color);
}

/* Портфолио */
.filter .item {
    
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}

.filter button:hover,
.filter button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.works .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.works .text {
    font-size: 16px;
    line-height: 30px;             
    letter-spacing: 1.9;
    color: var(--primary-text-color);
}